body{
	width: 95%;
	max-width: 500px;
	margin: auto;
	background: url(img/bg.jpg) center;

	font-family: 'Dancing Script', cursive;
	color: white

}

main {
	background: #00000057;
	padding: 20px 60px;
    margin-top: 20px;
    border-radius: 15px;

}

.name, .headline, .logo {
	
	text-align: center;
}

.botons table {
	text-align: center;
    background: #ffffff38;
    padding: 2px;
    margin: 2px;
    border-radius: 10px;

}